.replenishmentDetailContainer {
    background-color: var(--main-bg-color) ;
    width: 70%;
    height: 90vh;
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 2px solid #fff;
    border-radius: 4px;
    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.replenishmentDetailContainer>h2{
    color: #fff;
    margin-bottom: 20px;
  }
  
.replenishmentDetailContainer>.replenishmentInfo>p{
    color: #000;
    font-size: var(--middle-font-size);
    margin: 5px;
}

.replenishmentInfo {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.replenishmentForm {
    /* display: flex;
    flex-direction: column; */
    position: relative;
    height: calc(100% - 50px);
}

.replenishmentDetailContainer input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.replenishmentDetailContainer button {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.replenishmentDetailContainer button:hover {
    background-color: #45a049;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
