.replenishmentContainer {
  padding: 20px;
  margin: 30px 20px 0 20px;
  background-color: #fff;
  border-radius: 20px;
}

.replenishmentTitle {
  font-size: var(--huge-font-size);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.replenishmentTitle div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  margin-right: 10px;
  background-color: var(--secondary-bg-color);
  padding: 10px;
  border-radius: 50%;
}

.close {
  display: block;
  position: fixed;
  top: 25px;
  right: 25px;
  height: 25px;
  width: 25px;
  z-index: 25;
  cursor: pointer;
}

.overlay {
  position: fixed;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}